.wrapper{
	overflow: hidden;
	min-height: 100%;
}

.container{
	max-width: 1264px;
	padding: 0px 15px;
	margin: 0px auto;
    box-sizing: content-box;
}

.root{
	padding: 0 0 72px 0;
}

.grey-wrapper{
	background-color: #F5F5F5;
	padding: 128px 0 0 0;
}