.btn-c{
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  width: 100%;
  border-radius: 26px;
  transition: 300ms;
  &.blue{
    background-color: $color-blue;
    color: #fff;
  }
  &.light{
    border: 2px solid $color-blue;
    background-color: transparent;
    color: $color-blue;
    &.__white{
      color: #fff;
      border: 2px solid #fff;
    }
  }
  &.icon{
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      width: 24px;
      height: 24px;
      background-image: url("../img/arrow-ico.svg");
      background-size: 24px 24px;
      background-position: center;
      transition: 300ms;
    }
  }
  @media (min-width: 1025px) {
    &:hover{
      &.blue{
        background-color: $color-blue-dark;
      }
      &.light{
        background-color: $color-blue;
        color: #fff;
        &.__white{
          background-color: initial;
          color: #fff;
        }
      }
      &.icon{
        &:before{
          transform: translateX(5px) translateY(-50%);
        }
      }
    }
  }
}