.btn-c{
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  width: 100%;
  border-radius: 26px;
  transition: 300ms;
  &.blue{
    background-color: $color-blue;
    color: #fff;
  }
  &.light{
    border: 2px solid $color-blue;
    background-color: transparent;
    color: $color-blue;
    &.__white{
      color: #fff;
      border: 2px solid #fff;
    }
  }
  &.icon{
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
      width: 24px;
      height: 24px;
      background-image: url("../img/arrow-ico.svg");
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
      transition: 300ms;
    }
    &.__blue{
      &:before{
        background-image: url("../img/arrow-ico-b.svg");
      }
    }
  }
  @media (min-width: 1025px) {
    &:hover{
      &.blue{
        background-color: $color-blue-dark;
      }
      &.light{
        background-color: $color-blue;
        color: #fff;
        &.__white{
          background-color: initial;
          color: #fff;
        }
      }
      &.icon{
        &.__blue{
          &:before{
            background-image: url("../img/arrow-ico.svg");
          }
        }
        &:before{
          transform: translateX(5px) translateY(-50%);
        }
      }
    }
  }
}
.link-arrow{
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin: 16px 0 0 0;
  padding: 0 44px 0 0;
  color: #fff;
  &.blue-link{
    color: $color-blue;
    &:before{
      background-image: url("../img/benchmark/blue-arrow.svg");
    }
  }
  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-image: url("../img/benchmark/card-arrow.svg");
    transition: 300ms;
  }
  @media (min-width: 1024px) {
    &:hover{
      &:before{
        transform: translateX(10px) translateY(-50%);
      }
    }
  }
}
.heading-top{
  text-align: center;
}
.heading-title{
  position: relative;
  text-align: center;
  margin: 40px 0;
  &__title{
    p{
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      padding: 0 185px;
      span{
        color: $color-blue;
      }
    }
  }
  &__marker{
    position: absolute;
    left: 0;
    top: 0;
    width: 184px;
    height: 59px;
    background-image: url("../img/benchmark/triangle.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    p{
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.2px;
      font-weight: 600;
      color: #fff;
      padding: 16px 45px 16px 28px;
      width: 100%;
    }
  }
  &__subtitle{
    margin: 40px 0 0 0;
  }
  @media (max-width: 1199px) {
  .heading-title{
    &__content{
      display: flex;
      flex-direction: column;
    }
    &__title{
      order: 2;
      p{
        padding: 0;
      }
    }
    &__marker{
      order: 1;
      top: initial;
      left: initial;
      transform: initial;
      position: relative;
      width: 203px;
      height: 62px;
      margin: 0 auto 28px;
      background-image: url("../img/benchmark/triangle-mob.svg");
      p{
        text-align: center;
        padding: 17px 46px;
      }
    }
  }
  }
}
.pagination{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 55px 0 42px 0;
  .swiper-pagination-bullet{
    background-color: #CCCCCC;
    margin: 0 8px!important;
    &.swiper-pagination-bullet-active{
      background-color: #808080;
    }
  }
}