.analysis{
  background-color: $color-blue;
  padding: 82px 0 62px 0;
  p, li{
    color: #fff;
  }
  &__title{
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
  }
  &__content{
    position: relative;
    display: flex;
    margin: 32px 0 0 0;
    &:before{
      content: '';
      pointer-events: none;
      position: absolute;
      right: -5px;
      top: 0;
      height: 100%;
      width: 100px;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(44,100,227,1) 50%);
    }
    ul{
      li{
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.2px;
        margin: 15px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        padding: 0 10px 0 0;
        &:last-child{
          margin: 15px 0 30px 0;
        }
      }
    }
  }
  &__headings{
    flex: 0 0 462px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 54px;
      height: 1px;
      width: 100%;
      background: #fff;
    }
    ul{
      margin: 54px 65px 0 0;
      li{
        text-align: right;
        &:first-child{
          padding: 27px 10px 0 0;
        }
      }
    }
  }
  &__table{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex: 0 1 100%;
    &::-webkit-scrollbar {
      display: none;
    }
    ul{
      padding: 0 20px 0 40px;
      &:first-child{
        background: rgba(148, 181, 255, 0.3);
      }
      li{
        &:first-child{
          white-space: nowrap;
          font-weight: 700;
          padding: 0 0 27px 0;
        }
      }
    }
  }
  &__btn-wrapper{
    max-width: 320px;
    margin: 75px auto 0;
  }
}

@media (max-width: 1023px) {
  .analysis{
    &__headings{
      flex: 0 0 235px;
      ul{
        margin: 54px 30px 0 0;
      }
    }
    &__content{
      ul{
        li{
          box-sizing: content-box;
          font-size: 18px;
          line-height: 26px;
          height: 56px;
          -webkit-line-clamp: 2;
        }
      }
    }
    &__table{
      ul{
        li{
          &:first-child{
            padding: 0 0 25px 0;
            height: initial;
          }
        }
      }
    }
  }
}
@media (max-width: 567px) {
  .analysis{
    &__content{
      ul{
        li{
          font-size: 16px;
          line-height: 22px;
          height: 44px;
        }
      }
    }
    &__headings{
      flex: 0 0 125px;
      ul{
        margin: 54px 30px 0 0;
      }
    }
    &__table{
      ul{
        li{
          &:first-child{
            padding: 0 0 30px 0;
          }
        }
      }
    }
  }
}