.our-clients{
  margin: 64px 0 33px 0;
  .card-client{
    display: flex;
    min-height:400px;
    border-radius: 20px;
    overflow: hidden;
    &__picture{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 1 30%;
      background-color: #B63A37;
      &-wrapper{
        text-align: center;
        p{
          color: #fff;
        }
        img{
          width: auto;
          height: 64px;
          margin: 0 0 16px 0;
        }
      }
    }
    &__text{
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 1 70%;
      padding: 52px 64px;
      background-color: #fff;
      p{
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.4px;
      }
      a{
        align-self: flex-start;
      }
    }
  }
}
@media(max-width: 1023px){
  .our-clients{
    .card-client{
      padding: 32px 24px;
      flex-direction: column;
      background-color: #fff;
      &__picture{
        margin: 32px 0 0 0;
        flex: initial;
        order: 2;
        background-color: #fff;
        p{
          color: rgba(0, 0, 0, 0.5);
          strong{
            color: rgba(0, 0, 0, 1);
          }
        }
      }
      &__text{
        padding: 0;
        flex: initial;
        order: 1;
        a{
          margin: 32px 0 0 0;
        }
      }
    }
  }
}
@media (max-width: 424px) {
  .our-clients{
    .card-client{
      &__text{
        p{
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.4px;
        }
      }
    }
  }
}