.coverage{
  &__content{
    &>h2, p{
      text-align: center;
    }
  }
  &__btn-wrapper{
    max-width: 320px;
    margin: 64px auto 0;
  }
  &__swiper{
    width: 100%;
    height: 300px;
    margin: 64px 0;
  }
  &__swiper-slide{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 32px;
    overflow: hidden;
    p{
      text-align: initial;
      margin: 0 0 16px 0;
      strong{
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
      }
    }
    ul{
      display: flex;
      flex: 1 1 100%;
      margin: -10px;
      li{
        display: flex;
        align-self: flex-end;
        margin: 10px;
      }
    }
    &.version-1{
      ul{
        padding: 0 0 28px 0;
        flex-wrap: wrap;
        align-self: flex-end;
        li{
x          img{
            width: 60px;
            height: auto;
          }
        }
      }
      position: relative;
      &:before{
        content: '';
        position: absolute;
        bottom: 32px;
        left: 32px;
        width: 100%;
        max-width: 336px;
        height: 12px;
        border-radius: 8px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #2C64E3;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 32px;
        left: 32px;
        width: 100%;
        max-width: calc(86% - 64px);
        height: 12px;
        border-radius: 8px;
        background: linear-gradient(270deg, #2C64E3 0%, #84A9FF 100%), linear-gradient(270deg, #0DAB4C 0%, #16ED6C 100%), #0DAB4C;      }
    }
    &.version-2{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
      }
      ul{
        width: calc(100% + 42px);
        overflow-x: auto;
        flex-wrap: nowrap;
        &::-webkit-scrollbar {
          display: none;
        }
        li{
          flex: 0 0 64px;
          height: 64px;
          img{
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}