.coverage{
  &__content{
    &>h2, p{
      text-align: center;
    }
  }
  &__btn-wrapper{
    max-width: 320px;
    margin: 64px auto 0;
  }
  &__swiper{
    width: 100%;
    height: 300px;
  }
  &__swiper-slide{
    max-width: 400px;
    background: #FFFFFF;
    border-radius: 20px;
  }
}