.cards-block{
  margin: 32px 0;
  &__content{
    display: flex;
  }
  &__side{
    &:nth-child(1){
      flex: 0 1 400px;
    }
    &:nth-child(2){
      padding: 41px 41px 64px 80px;
    }
    &_description{
      p{
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 0.2px;
        margin: 0 0 17px 0;
        span{
          cursor: pointer;
          strong{
            font-size: 16px;
            line-height: 32px;
            font-weight: 400;
            letter-spacing: 0.2px;
            color: $color-grey;
          }
        }
        img{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 8px 0 22px;
        }
      }
      h3{
        margin: 0 0 8px 0;
      }
    }
    &_accordion{
      position: relative;
      z-index: 2;
      &.show-text{
        ul{
          max-height: 72px;
        }
      }
      ul{
        transition: 300ms;
        overflow: hidden;
        li{
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.2px;
        }
      }
      span{
        margin: 8px 0 0 0;
        font-size: 16px;
        line-height: 24px;
        color: $color-blue;
        border-bottom: 1px solid $color-blue;
        cursor: pointer;
      }
    }
    &_author{
      p{
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: $color-grey;
        cursor: pointer;
      }
      a{
        position: relative;
        display: inline-block;
        margin: 30px 0 0 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: $color-blue;
        padding: 0 44px 0 0;
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 32px;
          height: 32px;
          background-image: url("../img/play.svg");
          background-size: 32px 32px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  &__img{
    position: relative;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    width: 400px;
    height: 464px;
    &_tab-1{
      position: absolute;
      background-color: $color-grey-dark;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 80px 36px 36px;
      opacity: 0;
      pointer-events: none;
      transition: 300ms;
      p, span, a, li, h3{
        color: #fff;
      }
      span{
        border-bottom: 1px solid #fff;
      }
      &.active{
        opacity: 1;
        pointer-events: initial;
      }
      .cards-block__side_accordion{
        &.active{
          ul{
            max-height: 260px!important;
            overflow-y: scroll;
          }
          img{
            opacity: 0;
            pointer-events: none;
          }
        }
      }
      img{
        position: absolute;
        right: 36px;
        top: 190px;
        width: 118px!important;
        height: 118px!important;
        border-radius: 50%;
        overflow: hidden;
        transition: 300ms;
      }
      .cross{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        span{
          position: absolute;
          width: 22px;
          height: 2px;
          background-color: #fff;
          border-radius: 50px;
          top: 50%;
          &:nth-child(1){
            transform: translateY(-50%) rotate(45deg);
          }
          &:nth-child(2){
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn-wrapper{
    text-align: center;
    margin: 64px 0 0 0;
  }
  .button-cards{
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    color: $color-blue;
    border: 2px solid $color-blue;
    border-radius: 26px;
    padding: 8px 16px;
    min-width: 225px;
  }
}

@media (max-width: 1023px) {
  .cards-block{
    &__content{
      flex-direction: column;
    }
    &__img{
      border-radius: 10px;
      width: 100%;
    }
    &__side{
      &:nth-child(1){
        flex: initial;
      }
      &:nth-child(2){
        padding: 30px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .cards-block{
    &__img{
      height: 300px;
      &_tab-1{
        padding: 40px 20px 20px 20px;
        img{
          right: 0;
          top: 90px;
        }
        .cards-block__side_accordion{
          &.active{
            ul{
              max-height: 120px!important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .cards-block{
    &__img{
      &_tab-1{
        img{
          width: 80px!important;
          height: 80px!important;
        }
      }
    }
    &__side{
      &_accordion{
        ul{
          li{
            font-size: 14px;
          }
        }
      }
    }
  }
}